body {
  background-color: rgb(34, 4, 37);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.movie-card {
  position: relative;
  height: 300px;
  width: 300px;
  background-color: white;
  border-radius: 25px;
}

.movie-image {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  overflow: hidden;
}
.movie-details-container {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  top: 20%;
}
.descriptions {
  position: absolute;
  bottom: 0;
  margin-left: 20px;
  margin-right: 20p;
}

.movie-shadow {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
p {
  color: white;
}
.movie-title {
  margin: 0;
  padding: 0;
  font-size: x-large;
  font-weight: 900;
}
.movie-description {
  margin: 0;
  padding: 0;
  font-size: medium;
  font-weight: 100;
}
